@use "../../mixins" as *;

#MediaMC{
  height : 100vh;
  width : 100%;
  position : relative;
  
  h1{
    background-image: img("HP56");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	height : 20vh;
	display : grid;
	place-items : center;
	font-family : Genos;
  }
  h2{
	display: flex;
	font-family : SyneMono;
	text-align : center;
	align-items : center;
	justify-content : center;
  }
}