@use "../../mixins" as *;
$colorRed : #ef3b3b;
$darkBlue : #17233d;

//grid 2cols
.WwsCards{
  display : grid;
  grid-template-columns : repeat(2, auto);
  gap : 40px;
  place-items : center;
}

//flex-cols
.WwsCardsCon, .connectMe{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  gap : 100px;
  
}

//max-width
.WwsCardsCon{
  max-width : 1300px;
}

//padding
.WwsCardsCon{
  padding : 100px 50px;
}

//innerPadding
.heroText, .heroImg, .cardEle, .WwsCards>img, .connectMe{
  padding : 20px;
}

#WwsMC{
  width : 100%;
  display : grid;
  place-items : center;
  
  .WwsCardsCon{
	.WwsCards{
	  &.rev{
		img{
		  grid-column : 2;
		  grid-row : 1;
		}
		
		.heroText{
		  grid-column : 1;
		  grid-row : 1;
		}
	  }
	}
  }
  
  .connectMe{
	width : 100%;
	background: img("flexBack") center/cover no-repeat;
	gap : 20px;
  }
}

@include mediaDevice(mobile){
  .WwsCards{
	grid-template-columns : 1fr;
	grid-template-rows : repeat(2, auto);
  }
  
  .WwsCardsCon{
	padding : 10px;
	margin-top : 50px;
	margin-bottom : 50px;
  }
  
  #WwsMC{
	.WwsCardsCon{
	  .WwsCards{
		&.rev{
		  img{
			grid-column: 1;
			grid-row : 1;
		  }
		  .heroText{
			grid-column : 1;
			grid-row : 2;
		  }
		}
	  }
	}
  }
}