@use "../../mixins" as *;

#InsightsMC{
  min-height : 100vh;
  width : 80%;
  background: white;
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  gap : 30px;
  max-width : 1300px;
  
  .iframeElesCon, .blogsEle{
    display : flex;
    flex-direction: column;
    gap : 20px;
    align-items : flex-start;
    h3{
      border-left : 4px solid #E53A36;
      padding-left : 10px;
    }
    
    .itsChild{
      display : grid;
      grid-template-columns : repeat(4, auto);
      gap : 20px;
      
      .blogs{
        border : 1px #F3F4F6 solid;
        border-radius : 20px;
        padding : 10px;
      }
      
      .ifEle, .blogs{
        cursor : pointer;
        transition : all 0.2s ease;
        &:hover{
          transform : scale(1.1);
        }
        
        display : grid;
        grid-template-rows : repeat(3,auto);
        align-items : center;
        gap : 10px;
        
        .DateBlog{
          width : 100%;
          display : flex;
          justify-content : space-between;
        }
        
        span{
          text-align : left;
        }
      }
      
      .ifEle{
        width: 100%;
        aspect-ratio: 16 / 9;
        border: none;
        border-radius : 20px;
      }
    }
  }
}
  


@include mediaDevice(mobile){
  #InsightsMC{
    padding : 0;
    width : 100%;
    gap : 20px;
    text-align : center;
    
    .iframeElesCon{
      padding : 0;
      grid-template-columns : 1fr;
      grid-template-rows : auto;
      gap : 20px;
      
    }
    
  }
  
}