
@use "../../mixins" as *;

@include CustomFont("SyneMono", "/Fonts/SyneMono.ttf");
#SlideShowMC {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  overflow-x : hidden;
  overflow-y : hidden;
  
  .SlideTrack{
    position : relative;
    display:flex;
    width:300vw;
    height:100%;
    transition:transform .8s ease;
  }
  
  .SlideItem{
    width :100vw;
    flex-shrink:0;
    height:100%;
  }
  
  .SlideOne{
    background :url("/HP4.png") center / cover no-repeat;
    
    img{
      width : 100%;
      height : 100%;
      object-fit : contain;
      object-position : center;
    }
  }
  
  .SlideTwo{
    background : url("/HP56.jpg") center / cover no-repeat;
    
    img{
      width : 70%;
      height : 70%;
      object-fit : contain;
      object-position :center;
    }
  }
  
  
  
  .SlideOne, .SlideTwo {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    
    
    
    .heroCon {
      display: grid;
      align-content: center;
      justify-items: start;
      gap: clamp(1rem, 2vw, 2rem);
      padding: clamp(40px, 8vw, 120px);
      
      h1, h2 {
        font-family: SyneMono;
        width: 100%;
        font-size: 4vh;
        text-align: left;
        overflow: visible;
        white-space: nowrap
      }
      
      h2 {
        font-size: 3vh
      }
      
      .heroActions {
        font-family: Genos;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        
        button {
          flex: 1 1 0;
        }
      }
      
      .infoDis {
        display: flex;
        width: 100%;
        align-items: center;
        line-height: 2;
        font-family: Genos;
        font-size: 3vh;
        background: rgba(255, 255, 255, 0.7);
        border: 2px solid #E53935;
        border-radius: 20px;
        
        .conInfo {
          flex: 1 1 0;
          padding: 10px;
          border: 0.3px solid grey;
        }
      }
      
    }
    .heroImg{
      display : grid;
      place-items : center;
    }
    
  }
}



@include mediaDevice(mobile) {
  #SlideShowMC {
    .SlideOne, .SlideTwo {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 0;
      
      .heroCon {
        justify-items: center;
        gap: 14px;
        padding: 22px 24px 10px;
        
        h1 {
          text-align: center;
          font-size: clamp(0px, 9vw, 35px);
          white-space: normal;
        }
        
        h2 {
          font-size: clamp(0px, 5vw, 20px);
          text-align: center;
        }
        
        .heroActions {
          padding: 5px;
        }
        
        .infoDis {
          font-size: clamp(0px, 5vw, 20px);
          flex-wrap: wrap;
          height: auto;
          
          .conInfo {
            padding: 0;
            text-align: center;
          }
        }
      }
      
    }
  }
}