
@use "../../mixins" as *;

#SlideShowMC {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-x : hidden;
  overflow-y : hidden;
  
  .ss {
    width : auto;
    display: flex;
    gap : 10px;
    align-items: center;
    white-space: nowrap;
    padding: 4px 12px; /* py-1 px-3 */
    justify-content : center;
    background-color: #dc2626; /* red-600 */
    border: 2px solid #dc2626;
    
    color: #ffffff;
    border-radius: 9999px; /* rounded-full */
    
    font-weight: 1000;
    font-size: 10px;
    
    box-shadow:
            0 20px 25px -5px rgba(127, 29, 29, 0.2),
            0 10px 10px -5px rgba(127, 29, 29, 0.1);
    
    transition: all 300ms ease;
  }
  
  .ss:hover {
    background-color: #434242;
    border-color: #434242;
  }
  
  @media (min-width: 768px) {
    .ss {
      padding-left: 16px; /* md:px-4 */
      padding-right: 16px;
      font-size: 16px;
    }
  }
  
  .ps, .as{
    width : auto;
    max-width : 400px;
    display : flex;
    justify-content : center;
    align-items : center;
    border : none;
    padding : 0;
    margin : 0;
    background: transparent;
    transition : all 0.3s ease;
    &:hover{transform : scale(0.9)}
    box-shadow : none;
    img{
      flex : 1 1 0;
      width : 100%;
      height : 100%;
      object-position : center;
      object-fit : cover;
    }
  }
  
  .SlideTrack{
    position : relative;
    display:flex;
    width:300vw;
    height:100%;
    transition:transform .8s ease;
  }
  
  .SlideItem{
    width :100vw;
    flex-shrink:0;
    height:100%;
  }
  
  .SlideOne{
    background-image: img("HP4");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    img{
      width : 100%;
      height : 100%;
      object-fit : contain;
      object-position : center;
    }
  }
  
  .SlideTwo{
    background-image: img("HP56");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    img{
      width : 70%;
      height : 70%;
      object-fit : contain;
      object-position :center;
    }
  }
  
  
  
  .SlideOne, .SlideTwo {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    place-items : center;
    
    .heroCon {
      display: grid;
      align-content: center;
      justify-items: start;
      gap: clamp(1rem, 2vw, 2rem);
      padding: clamp(40px, 8vw, 120px);
      
      h1, h2 {
        font-family: SyneMono;
        width: 100%;
        text-align: left;
        overflow: visible;
        white-space: nowrap
      }
      
      
      .heroActions {
        font-family: Genos;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        
        button {
          flex: 1 1 0;
        }
        
        &.pas{width : auto}
      }
      
      .infoDis {
        display: flex;
        width: 100%;
        max-height : 100px;
        align-items: center;
        line-height: 2;
        font-family: Genos;
        font-size: clamp(0px, 3vh, 30px);
        background: rgba(255, 255, 255, 0.7);
        border: 2px solid #E53935;
        border-radius: 20px;
        overflow : hidden;
        .conInfo {
          flex: 1 1 0;
          padding: 10px;
          border: 0.3px solid grey;
        }
      }
      
    }
    .heroImg{
      display : grid;
      place-items : center;
      
      .BigImg{
        width : 100%;
        height : 90%;
        object-fit : contain;
      }
    }
    
  }
}



@include mediaDevice(mobile) {
  #SlideShowMC {
    .SlideOne, .SlideTwo {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 0;
      
      .heroCon {
        justify-items: center;
        gap: 14px;
        padding: 22px 24px 10px;
        
        h1 {
          text-align: center;
          font-size: clamp(0px, 9vw, 35px);
          white-space: normal;
        }
        
        h2 {
          font-size: clamp(0px, 5vw, 20px);
          text-align: center;
        }
        
        .heroActions {
          padding: 5px;
        }
        
        .infoDis {
          font-size: clamp(0px, 5vw, 20px);
          flex-wrap: wrap;
          height: auto;
          
          .conInfo {
            padding: 0;
            text-align: center;
          }
        }
      }
      
    }
  }
}