@use "../../mixins" as *;

#PowMC {
  min-height: 100vh;
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .containingCon {
    width: 100%;
    max-width: 1400px;
    padding: 20px;

    h1 {
      text-align: center;
      margin-bottom: 40px;
    }

    .contentRow {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .sideImg {
      width: 250px;
      flex-shrink: 0;
    }
    
    .slider {
      flex: 1;
      overflow: hidden;
    }

    .track {
      display: flex;
      flex-direction : column;
      transition: transform 0.4s ease;
      gap : 10px;
    }

    .card {
      flex: 0 0 100%;
      display: flex;
      flex-direction : row;
      gap: 30px;
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
      background: white;
      border : 1px solid rgba(201, 182, 255, 1);
      place-items : center;
    }

    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size : clamp(20px, 2vh, 30px);

      span {
        font-family : Genos;
        font-style: italic;
        font-size : inherit;
      }

      h2 {
        font-family : Genos;
        font-weight: bold;
      }

      h3 {
        color: purple;
         font-size : inherit;
      }
    }

    .image {
      width: 250px;
      flex-shrink: 0;

      img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 15px;
        border: 2px solid rgba(201, 182, 255, 1);
      }
    }
  }
}

@include mediaDevice(mobile){
  .sideImg{display : none}
  #PowMC{
    .containingCon{
      padding : 5px;
      
      h1{
        padding-top : 40px;
      }
      
      .card{
        flex-direction : column;
      }
    }
  }
}