html {
  overflow-x: scroll;
}

#StructuredProductsMC {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: #f7f7f7;
}
#StructuredProductsMC * {
  box-sizing: border-box;
}
#StructuredProductsMC h1, #StructuredProductsMC h2, #StructuredProductsMC h3 {
  margin: 0;
  text-align: center;
}
#StructuredProductsMC p {
  margin: 0;
}
#StructuredProductsMC span, #StructuredProductsMC p {
  font-family: Genos;
}
#StructuredProductsMC h1, #StructuredProductsMC h2, #StructuredProductsMC h3 {
  font-family: SyneMono;
}
#StructuredProductsMC .quoteEle {
  border-left: 4px #ef3b3b solid;
  padding-left: 25px;
  color: #778196;
  font-style: italic;
  line-height: 1.8;
  font-weight: 700;
}
#StructuredProductsMC .headTit {
  width: 100%;
  height: 25vh;
  background: url("/HP56.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#StructuredProductsMC .headTit h1 {
  font-size: clamp(0px, 7vh, 70px);
}
#StructuredProductsMC .SPone, #StructuredProductsMC .SPtwo, #StructuredProductsMC .SPthree, #StructuredProductsMC .SPfour {
  padding: 80px 200px;
}
#StructuredProductsMC .SPone,
#StructuredProductsMC .SPthree {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  place-items: center;
}
#StructuredProductsMC .SPone .heroText {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
#StructuredProductsMC .SPone .heroText span {
  font-size: clamp(0px, 2.7vh, 28px);
  line-height: 1.7;
  font-weight: 700;
  color: black;
}
#StructuredProductsMC .SPone .heroText .quoteEle {
  color: #5e687b;
  max-width: 90%;
  font-size: clamp(0px, 2.5vh, 28px);
}
#StructuredProductsMC .SPone .heroImg img {
  width: 100%;
}
#StructuredProductsMC .SPtwo {
  width: 100%;
  min-height: 100vh;
  background: url("/flexBack.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
#StructuredProductsMC .SPtwo h1 {
  font-size: clamp(0px, 6vh, 60px);
  text-align: center;
  font-family: Genos;
}
#StructuredProductsMC .SPtwo > span {
  font-size: clamp(0px, 2.5vh, 25px);
  color: #5f697d;
  line-height: 1.7;
  font-weight: 700;
  text-align: center;
}
#StructuredProductsMC .SPtwo .cardsCont {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#StructuredProductsMC .SPtwo .cardsCont .cardEle {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: auto;
  padding: 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06), 0 20px 40px rgba(0, 0, 0, 0.08);
}
#StructuredProductsMC .SPtwo .cardsCont .cardEle .cardTop {
  display: flex;
  align-items: center;
  gap: 18px;
}
#StructuredProductsMC .SPtwo .cardsCont .cardEle .cardTop svg {
  width: 32px;
  height: 32px;
  padding: 5px;
  background: rgb(255, 225, 225);
  border-radius: 10px;
  color: #ef3b3b;
}
#StructuredProductsMC .SPtwo .cardsCont .cardEle .cardTop h2 {
  font-size: clamp(0px, 3vh, 38px);
}
#StructuredProductsMC .SPtwo .cardsCont .cardEle p {
  font-size: clamp(0px, 2.4vh, 24px);
  color: #5f697d;
  line-height: 1.7;
  font-weight: 700;
}
#StructuredProductsMC .SPthree .left {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
#StructuredProductsMC .SPthree .left h1 {
  font-size: clamp(0px, 6vh, 60px);
  font-family: Genos;
}
#StructuredProductsMC .SPthree .left .line {
  width: 80px;
  height: 4px;
  background: #ef3b3b;
}
#StructuredProductsMC .SPthree .left span {
  font-size: clamp(0px, 2.6vh, 26px);
  color: #5f697d;
  line-height: 1.7;
  font-weight: 700;
}
#StructuredProductsMC .SPthree .left img {
  width: 90%;
}
#StructuredProductsMC .SPthree .right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#StructuredProductsMC .SPthree .right .pointEle {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
#StructuredProductsMC .SPthree .right .pointEle h2 {
  color: #9ba7ba;
  font-size: clamp(0px, 4vh, 38px);
}
#StructuredProductsMC .SPthree .right .pointEle p {
  font-size: clamp(0px, 2.5vh, 25px);
  color: #5f697d;
  line-height: 1.8;
  font-weight: 700;
}
#StructuredProductsMC .SPthree .right .quoteEle {
  background: rgba(255, 255, 255, 0.5);
  padding: 35px 35px 35px 25px;
  border-radius: 15px;
}
#StructuredProductsMC .SPfour {
  width: 100%;
  min-height: 30vh;
  background: url("/flexBack.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
#StructuredProductsMC .SPfour h1 {
  font-size: clamp(0px, 6vh, 60px);
}
#StructuredProductsMC .SPfour span {
  max-width: 70%;
  font-size: clamp(0px, 2.5vh, 25px);
  color: #5f697d;
  line-height: 1.7;
  font-weight: 700;
}

@media (max-width: 1024px) {
  #StructuredProductsMC .SPone,
  #StructuredProductsMC .SPthree {
    grid-template-columns: 1fr;
    padding: 50px 20px;
  }
  #StructuredProductsMC .SPtwo {
    padding: 50px 20px;
  }
  #StructuredProductsMC .SPtwo .cardsCont {
    grid-template-columns: 1fr;
  }
  #StructuredProductsMC .SPthree .left img {
    width: 100%;
  }
  #StructuredProductsMC .SPfour {
    padding: 20px;
  }
  #StructuredProductsMC .SPfour span {
    max-width: 100%;
  }
}

/*# sourceMappingURL=StructProd.css.map */
