@use "../../mixins" as *;
$colorRed : #ef3b3b;
$darkBlue : #17233d;

//grid 2cols
.SPone, .cardsCont, .SPthree{
  display : grid;
  grid-template-columns : repeat(2, auto);
  gap : 40px;
  place-items : center;
}

//flex-cols
.innerSPtwo, .textElll{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  gap : 20px;
  
}

//flex-rows
.featureCard, .RegItem, .firstRow, .thirdRow, .regCard{
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  align-items : flex-start;
  gap : 20px;
}

//center text align
.PMSone, .heroText, .left, .rightPMS,.right{
  h1, h2, h3{
    text-align : left;
    width : 100%;
  }
  
  span{
    text-align : left;
  }
}

//max-width
.SPone, .innerSPtwo, .SPthree{
  max-width : 1300px;
}

//padding
.SPone, .innerSPtwo, .SPthree{
  padding : 100px 50px;
}

//innerPadding
.heroText, .heroImg, .cardEle{
  padding : 20px;
}

#StructuredProductsMC{
  display : grid;
  place-items : center;
  
  .SPtwo{
    min-height : 100vh;
    background: img("flexBack") center/cover no-repeat;
    width : 100%;
    display : grid;
    place-items : center;
    .innerSPtwo{
      .cardsCont{
        margin-top : 50px;
        gap : 40px;
        .cardEle{
          display : flex;
          flex-direction : row;
          justify-content : flex-start;
          align-items : flex-start;
          gap : 40px;
          
          background: white;
          border-radius : 20px;
        }
      }
    }
  }
  
  .SPthree{
    .left{
    }
  }
}

@include mediaDevice(mobile){
  .SPone, .cardsCont, .SPthree{
    grid-template-columns : 1fr;
    grid-template-rows : repeat(2, auto);
  }
  
  .SPone, .innerSPtwo, .SPthree{
    padding : 10px;
    margin-top : 50px;
    margin-bottom : 50px;
  }
  
  .heroText, .heroImg, .cardEle{
    padding : 20px;
  }
}