@use "../../mixins" as *;

#NavBarMC {
  position: absolute;
  width: 85%;
  left : 0;
  right : 0;
  margin : auto;
  height: 100px;
  z-index: 100;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  .hamBtn{
    display : none;
    flex : 1 1 0;
    height : 100%;
    justify-content : flex-end;
  }
  
  .logo {
    cursor: pointer;
    display : grid;
    align-items : center;
    
    img {
      object-fit: contain;
      height : auto;
      width : 22%;
    }
  }
  
  .navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    .navItem {
      position: relative;
      display : flex;
      flex-direction : row;
      justify-content : center;
      align-items : center;
      gap : 0;
      padding-bottom : 15px;
      
      .navBtn {
        background: transparent;
        border: none;
        font-family: Genos;
        font-size: 17px;
        font-weight: bold;
        
        color: black;
        
        transition: color 0.15s ease;
        
        cursor: pointer;
        
        &.s {
          padding: 4px 15px;
          -webkit-text-stroke:0.1px currentColor;
          letter-spacing : 1px;
          background: #dc2626;
          border: 2px solid #dc2626;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          color: white;
          border-radius : 9999px;
          
          &:hover {
            background: #434242;
            border-color: #434242;
          }
        }
      }
      
      .downSVG{
        border : none;
        margin : 0;
        transition: all 0.3s ease;
      }
      
      .subDrop{
        position : absolute;
        background : white;
        top : 0;
        left : 100%;
        min-width : 200px;
        border-radius : 5px;
        display : none;
        flex-direction : column;
        overflow : hidden;
        align-items : start;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        justify-content : space-around;
        padding : 10px;
      }
      
      &:hover {
        .dropDown {
          display: flex;
        }
        
        .downSVG{
          transform : rotate(180deg);
          color: #e31e24;
        }
        
        .navBtn{
          color: #e31e24;
        }
      }
      
      .dropDown {
        display: none;
        
        position: absolute;
        top: calc(100%);
        left: 0;
        
        flex-direction: column;
        
        min-width: 200px;
        
        background: white;
        border-radius: 5px;
        overflow: visible;
        
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        justify-content : space-around;
        align-items : stretch;
        padding : 10px;
        
        .btnWrap{
          position : relative;
          &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            width: 15px;
            height: 100%;
          }
          &:hover .subDrop{
            display : flex;
          }
        }
      }
      
      .dropB {
        font-family: Genos;
        text-align: left;
        border-radius : 5px;
        padding: 4px 12px;
        width : 100%;
        background: transparent;
        color: black;
        font-weight: bold;
        border: none;
        background: transparent;
        display : flex;
        flex-direction : row;
        align-items : flex-start;
        cursor: pointer;
        justify-content : space-between;
        
        .subArrow{
          transition : all 0.3s ease;
        }
        
        &:hover {
          background: rgba(0, 0, 0, 0.08);
          color: #e31e24;
          
          .subArrow{
            transform : rotate(180deg);
          }
        }
      }
    }
  }
}


@include mediaDevice(mobile){
  #NavBarMC{
    justify-content : space-around;
    align-items : center;
    .logo{
      display : flex;
      justify-content : flex-start;
      align-items : center;
     img{
       width : 25%;
     }
    }
    .mobileActionBtn{
      width: 100% !important;
      
      
      background: red !important;
      color: white;
      
      border: 2px solid #dc2626;
      
      
      transition: 0.2s ease;
      
      &:hover{
        background: #434242;
        border-color: #434242;
        color: white;
      }
    }
    
    .mobileItem{
      width:100%;
    }
    
    .mobileThirdMenu{
      display:flex;
      flex-direction:column;
      background:#eeeeee;
    }
    
    .mobileThirdBtn{
      width:100%;
      
      padding:12px 20px 12px 60px;
      
      border:none;
      
      background:#eeeeee;
      
      text-align:left;
      
      font-family:Genos;
      font-size:17px;
      font-weight:bold;
      
      cursor:pointer;
      
      &:hover{
        color:#e31e24;
      }
    }
    
    .mobileSubMenu{
      display:flex;
      flex-direction:column;
      
      background:#f7f7f7;
    }
    
    .mobileSubBtn{
      width:100%;
      
      padding:14px 20px 14px 40px;
      
      border:none;
      background: #f7f7f7;
      text-align:left;
      
      font-family:Genos;
      font-size:18px;
      font-weight:bold;
      
      cursor:pointer;
      
      &:hover{
        color:#e31e24;
      }
    }
    
    .hamBtn{
      display : flex;
      align-items : center;
    }
    .overlay{
      position:fixed;
      
      inset:0;
      
      background:rgba(0,0,0,.3);
      z-index : 100;
    }
    
    .mobileMenu{
      position:absolute;
      top:100%;
      left:0;
      
      width:100%;
      
      display:flex;
      flex-direction:column;
      background: white;
      z-index : 101;
      border-radius : 10px;
      overflow: hidden;
    }
    
    .mobileBtn{
      width:100%;
      
      padding:16px;
      
      border:none;
      background:white;
      
      text-align:left;
      
      font-family:Genos;
      font-size:20px;
      font-weight:bold;
      margin : 10px 0;
      
      cursor:pointer;
      
      &:hover{
        color:#e31e24;
      }
    }
    
    .navLinks{
      display : none;
    }
  }
}