@use "../../mixins" as *;
#FooterMC{
  height : auto;
  width : 100%;
  position : relative;
  background: yellow;
  display : grid;
  justify-content : center;
  align-content : center;
  gap : 20px;
  padding : 100px;
  text-align : center;
  background : url("/HP4.png") center/cover no-repeat;
  
  .topicEles{
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    gap : 20px;
    div{
      height : auto;
      width : auto;
      border-radius : 20px;
      background: white;
      padding : 20px;
      text-align : center;
      font-family : Genos;
      cursor : pointer;
      transition : 0.3s ease;
      
      &:hover{
        transform : scale(0.9);
      }
    }
  }
}

@include mediaDevice(mobile){
  #FooterMC{
    padding : 10px;
    
    .topicEles{
      grid-template-columns : 1fr 1fr;
    }
  }
}