@use "../../mixins" as *;

$colorRed : #E53935;

#PMSAIFMC{

  min-height : 100vh;
  width : 100%;

  *{
    box-sizing : border-box;
  }

  .headTit{
    width : 100%;
    height : 20vh;
    background-image: img("HP56");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display : grid;
    place-items : center;

    h1{
      font-family : SyneMono;
      font-size : clamp(0px, 5vh, 50px);
      font-weight : normal;
    }
  }

  .quoteEle{
    border-left : 3px $colorRed solid;
    padding-left : 20px;
    font-style : italic;
    color : grey;
  }

  h1{
    font-family : SyneMono;
  }

  span,p{
    font-family : Genos;
  }

  .PMSone,
  .PMStwo,
  .PMSthree,
  .PMSfour,
  .PMSfive,
  .PMSsix,
  .PMSseven{
    padding : 80px;
  }

  .PMSone{
    display : grid;
    grid-template-columns : repeat(2,1fr);
    place-items : center;
    gap : 40px;

    .heroText{
      display : flex;
      flex-direction : column;
      gap : 35px;

      span{
        font-size : 2.3vh;
      }
    }
  }

  .PMStwo{
    background-image: img("flexBack");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display : grid;
    grid-template-columns : repeat(2,1fr);
    gap : 50px;

    .left{
      display : flex;
      flex-direction : column;
      justify-content : center;
      align-items : center;
      gap : 20px;

      h1{
        font-size : 6vh;
        font-family : Genos;
      }

      span{
        font-size : 2.2vh;
        color : grey;
        max-width : 70%;
      }
    }

    .right{
      display : flex;
      flex-direction : column;
      gap : 25px;

      .featureCard{
        background : white;
        padding : 30px;
        border-radius : 15px;
        box-shadow : 0 10px 25px rgba(0,0,0,0.1);
        display : flex;
        flex-direction : column;
        gap : 10px;
        justify-content : center;
        align-items : center;

        h1{
          display : flex;
          align-items : center;
          gap : 10px;
          font-family : Genos;
          font-size : clamp(0px, 3vh, 30px);
          font-weight : bold;
        }

        .cardIcon{
          color : $colorRed;
          padding : 5px;
          background: pink;
          border-radius : 5px;
        }
      }
    }
  }

  .PMSthree{
    display : grid;
    grid-template-columns : repeat(2,1fr);
    gap : 60px;
    place-items : center;

    .left{
      height : 80%;
      display : flex;
      flex-direction : column;
      justify-content : space-around;
      gap : 30px;
      
      h1{
        font-family : Genos;
      }
      
      .timelineCard{
        font-family : SyneMono;
        padding : 25px;
        box-shadow: 0 15px 40px rgba(0,0,0,0.12);
        border-radius : 10px;
        display : flex;
        flex-direction : column;
        gap : 10px;
        
        h2{
          font-family : SyneMono;
          font-size : clamp(0px, 3vh, 30px);
        }
        
        span{
          font-family : Genos;
          font-size : clamp(0px, 2vh, 20px);
        }
      }
    }
    

    .right{
      height : 80%;
      display : flex;
      flex-direction : column;
      gap : 40px;
      justify-content : center;
      align-items : center;
      
      img{
        width : 70%;
        box-shadow: 0 15px 40px rgba(0,0,0,0.12);
        border-radius : 40px;
        overflow : hidden;
        height : auto;
        object-fit : contain;
      }
    }
  }
  .PMSfour{
    min-height : 30vh;
    background-image: img("flexBack");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 20px;

    text-align : center;

    h1{
      font-size : clamp(0px, 6vh, 60px);
    }

    span{
      font-size : clamp(0px, 2.3vh, 24px);
      max-width : 60%;
      color : #5d6778;
      font-weight : 600;
      line-height : 1.7;
    }
  }

  .PMSfive{
    display : grid;
    grid-template-columns : repeat(2,1fr);
    place-items : center;

    .heroImg{
      display : grid;
      place-items : center;
      img{
        width : 80%;
      }
    }

    .heroText{
      display : flex;
      flex-direction : column;
      justify-content : center;
      align-items : center;
      gap : 35px;

      h1{
        font-size : clamp(0px, 5vh, 50px);
        font-family : Genos;
        font-weight : bold;
        text-align : center;
      }

      span{
        font-size : clamp(0px, 2.5vh, 25px);
        color : #5d6778;
        line-height : 1.3;
        font-weight : 700;
        max-width : 70%;
      }

      .quoteEle{
        max-width : 80%;
        font-weight : 600;
      }
    }
  }

  .PMSsix{
    display : grid;
    grid-template-columns : repeat(2,1fr);
    gap : 50px;

    .left{
      display : flex;
      flex-direction : column;
      gap : 25px;
    }

    .aifCard{
      
      transition : 0.3s ease;
      &:hover{
        background: rgba(255, 192, 203, 0.2);
      }
      background : white;
      border-radius : 15px;
      padding : 30px;
      box-shadow : 0 10px 25px rgba(0,0,0,0.08);
      display : flex;
      flex-direction : column;
      gap : 20px;

      h1{
        display : flex;
        align-items : center;
        gap : 35px;
        font-size : clamp(0px, 3vh, 30px);

        span{
          color : $colorRed;
          font-family : Genos;
          font-size : clamp(0px, 3vh, 40px);
          padding : 10px;
          border-radius : 10px;
          background: pink;
          height : auto;
          aspect-ratio : 1;
        }
      }

      p{
        font-size : clamp(0px, 2.2vh, 22px);
        color : #5d6778;
      }

      .bottom{
        margin-top : 20px;
        display : flex;
        justify-content : space-between;
        gap : 30px;
        
        span{
          display : flex;
          flex-direction : column;
          gap : 20px;
        }

        h3{
          font-family : SyneMono;
        }
      }
    }

    .right{
      display : flex;
      flex-direction : column;
      gap : 30px;
      justify-content : center;
      align-items : center;

      h1{
        font-size : clamp(0px, 6vh, 60px);
        font-family : Genos;
        text-align : center;
      }

      span{
        font-size : clamp(0px, 2.5vh, 24px);
        color : #5d6778;
        line-height : 1.7;
        max-width : 60%;
      }

      img{
        width : 90%;
      }
    }
  }

  .PMSseven{
    display : grid;
    grid-template-columns : repeat(2,1fr);
    gap : 60px;

    .left{
      display : flex;
      flex-direction : column;
      gap : 30px;
      justify-content : center;
      align-items : center;

      h1{
        font-size : clamp(0px, 6vh, 60px);
        font-family : Genos;
        padding : 30px 0;
        border-bottom : 2px $colorRed solid;
        text-align : center;
      }

      span{
        font-size : clamp(0px, 2.5vh, 24px);
        color : #5d6778;
        line-height : 1.7;
        max-width : 80%;
      }

      img{
        width : 80%;
      }
    }

    .right{
      display : flex;
      flex-direction : column;
      justify-content : space-around;
      gap : 10px;
      padding : 10px;
    }

    .regCard{
      display : flex;
      gap : 20px;
      font-weight : bold;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      border-radius : 10px;
      padding : 20px;
      min-height : 100px;

      h1{
        color : #bcc5d3;
        font-size : clamp(0px, 4vh, 40px);
      }

      span{
        font-size : clamp(0px, 2.5vh, 24px);
        color : #4f596b;
        line-height : 1.7;
        font-weight : 600;
      }
    }
  }

  .endingStatement{
    min-height : 30vh;
    background-image: img("flexBack");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 20px;

    padding : 40px;

    h1{
      font-size : 5vh;
    }

    span{
      max-width : 60%;
      text-align : center;
      font-size : 2.3vh;
    }
  }
}

@include mediaDevice(mobile){

  #PMSAIFMC{

    .PMSone,
    .PMStwo,
    .PMSthree,
    .PMSfour,
    .PMSfive,
    .PMSsix,
    .PMSseven{
      grid-template-columns : 1fr;
      padding : 40px 15px;
    }

    .endingStatement{
      span{
        max-width : 90%;
      }
    }

    .PMSfive{

      .aifCard{

        .bottom{
          flex-direction : column;
          gap : 20px;
        }
      }
    }
  }
}