@use "../../mixins" as *;

$redCol : #E53935;

#About2MC{
  position : relative;
  width : 100%;
  min-height : 100vh;
  .journeyPage{
	width: 100%;
	padding: 120px 40px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	h1{
	  font-family: SyneMono;
	  margin-bottom: 80px;
	}
  }
  
  .timeline{
	position: relative;
	
	width: 100%;
	max-width: 1200px;
	
	&::before{
	  content: "";
	  
	  position: absolute;
	  
	  left: 50%;
	  top: 0;
	  bottom: 0;
	  
	  width: 2px;
	  
	  background: #e5e5e5;
	  
	  transform: translateX(-50%);
	}
  }
  
  .progressLine{
	position: absolute;
	
	left: 50%;
	top: 0;
	
	width: 2px;
	height: 100%;
	
	background: #E53935;
	
	transform: translateX(-50%) scaleY(0);
	transform-origin: top;
  }
  
  .timelineItem{
	position: relative;
	
	width: 100%;
	
	display: flex;
	
	margin-bottom: 140px;
	
	&.left{
	  justify-content: flex-start;
	  
	  .timelineCard{
		margin-right: calc(50% + 80px);
	  }
	}
	
	&.right{
	  justify-content: flex-end;
	  
	  .timelineCard{
		margin-left: calc(50% + 80px);
	  }
	}
  }
  
  .year{
	position: absolute;
	
	left: 50%;
	top: 30px;
	
	transform: translateX(-50%);
	
	width: 90px;
	height: 90px;
	
	border-radius: 50%;
	
	background: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	font-family: SyneMono;
	
	box-shadow: 0 10px 25px rgba(0,0,0,.1);
	
	z-index: 3;
  }
  
  .dot{
	display: none;
  }
  
  .timelineCard{
	width: 500px;
	
	background: white;
	
	border-radius: 20px;
	
	padding: 40px;
	
	box-shadow: 0 10px 25px rgba(0,0,0,.08);
	
	h2{
	  font-family: SyneMono;
	  margin-bottom: 15px;
	}
	
	p{
	  font-family: Genos;
	  font-size: 20px;
	  line-height: 1.8;
	  color: grey;
	}
  }
  
  .seventhPage{
	padding : 100px;
	height : auto;
	width : 100%;
	background: img("seventhBg") center/cover no-repeat;
	display : grid;
	grid-template-rows : auto auto;
	place-items : center;
	gap : 50px;
	
	.seventhCardCon{
	  display : grid;
	  grid-template-columns : repeat(3, 1fr);
	  grid-template-rows : repeat(2, 1fr);
	  place-items : center;
	  padding : 20px;
	  gap : 30px;
	  .seventhCard{
		position : relative;
		min-width : 250px;
		background: transparent;
		font-family : SyneMono;
		font-weight : normal;
		place-items : center;
		gap : 0;
		aspect-ratio : 16/9;
		display : grid;
		border-radius : 20px;
		border : 1px solid white;
		box-shadow: 0 10px 25px rgba(0,0,0,0.15);
		overflow : hidden;
		transition : 0.8s ease;
		transform-style : preserve-3d;
		&:hover{
		  transform : rotateY(180deg);
		  .desc{
			opacity : 1;
			transform : rotateY(180deg);
		  }
		}
		
		.desc{
		  position : absolute;
		  width : 100%;
		  height : 100%;
		  background : white;
		  transition : 0.3s ease;
		  opacity : 0;
		  color : black;
		  display : grid;
		  place-items : center;
		  text-align : center;
		  padding : 10px;
		}
		.cardIcon{
		  padding : 10px;
		  border-radius : 50%;
		  background: $redCol;
		  color : white;
		}
	  }
	}
	
	h1{
	  font-family : SyneMono;
	  text-align : center;
	  font-weight : 800;
	}
  }
  .sixthPage{
	height : auto;
	width : 100%;
	padding : 100px;
	
	display : grid;
	grid-template-columns : auto auto;
	grid-template-rows : auto;
	place-items : center;
	gap : 100px;
	
	.heroImg{
	  display : grid;
	  grid-template-rows : auto auto;
	  place-items : center;
	  h1{
		width : 100%;
		text-align : center;
	  }
	  
	  img{
		width : 100%;
		height : 100%;
		object-fit : contain;
		padding : 20px;
	  }
	}
	
	.heroText{
	  display : grid;
	  grid-template-rows : auto auto auto;
	  place-items : center;
	  gap : 10px;
	  font-family : Genos;
	  font-weight : 600;
	  
	  .sixthPgCard{
		border : 1px solid white;
		min-height : 100px;
		border-radius : 10px;
		padding : 10px;
		display : grid;
		grid-template-columns : auto auto;
		grid-template-rows : auto;
		place-items : center;
		gap : 20px;
		box-shadow: 0 10px 25px rgba(0,0,0,0.15);
		
		.PgCardSixth{
		  background: pink;
		  width : 50px;
		  aspect-ratio : 1;
		  padding : 5px;
		  border-radius : 10px;
		  color : $redCol;
		  font-family : Genos;
		}
	  }
	}
  }
  
  .fifthPage{
	min-height: 100vh;
	width: 100%;
	
	display: grid;
	grid-template-columns: 0.9fr 1fr 1fr;
	gap: 50px;
	
	padding: 100px;
	
	.teamIntro{
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: flex-start;
	  
	  h1{
		font-family: SyneMono;
		font-size: clamp(0px, 3vh, 30px);
		margin-bottom: 20px;
	  }
	  
	  h3{
		font-family: Genos;
		font-size: clamp(0px, 2vh, 25px);
		line-height: 1.8;
		color: rgba(0,0,0,.6);
		font-weight: 600;
		max-width: 500px;
	  }
	  
	  &::after{
		content:"";
		width:70px;
		height:3px;
		background:#E53935;
		margin:25px 0;
	  }
	}
	
	.MemberCard{
	  display: contents;
	}
	
	.heroImg{
	  width: 100%;
	  max-width: 400px;
	  
	  img{
		width:80%;
		height:auto;
		object-fit:contain;
		
		border-radius:20px;
		border:1px solid rgba(0,0,0,.05);
	  }
	}
	
	.heroText{
	  display:flex;
	  flex-direction:column;
	  justify-content:center;
	  align-items:flex-start;
	  
	  h2{
		font-family: Genos;
		color:#E53935;
		letter-spacing:4px;
		font-size:14px;
		margin-bottom:10px;
	  }
	  
	  h1{
		font-family: SyneMono;
		font-size: clamp(0px, 3vh, 30px);
		margin-bottom:25px;
	  }
	  
	  h3{
		font-family: Genos;
		font-size: clamp(0px, 2vh, 25px);
		line-height:1.8;
		color:rgba(0,0,0,.65);
		font-weight:600;
	  }
	}
  }
  .fourthPage{
	min-height : 100vh;
	display : grid;
	place-items : center;
	background: img("flexBack") center/cover no-repeat;
	padding : 20px;
	h1{
	  font-weight : 800;
	}
	
	.cardElesfP{
	  display : grid;
	  grid-template-columns : repeat(4, auto);
	  place-items :center;
	  gap : 20px;
	  padding : 100px;
	  
	  .cardEle{
		background: white;
		display : flex;
		flex-direction : column;
		justify-content : space-around;
		align-items : center;
		min-height : 300px;
		padding : 30px;
		text-align : center;
		border-radius : 20px;
		
		.cardIcon{
		  background: pink;
		  width : 50px;
		  aspect-ratio : 1;
		  padding : 5px;
		  border-radius : 10px;
		}
		
		h2{
		  font-family : SyneMono;
		}
		
		span{
		  font-family : Genos;
		}
	  }
	}
  }
  
  .thirdPage{
	min-height : 100vh;
	width : 100%;
	background: img("AboutThreebg") center/cover no-repeat;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : end;
	padding : 5%;
	gap : 50px;
	overflow : hidden;
	
	.textLeft{
	  width : 60%;
	  height : auto;
	  font-family : SyneMono;
	  line-height : 2;
	  display : grid;
	  place-items : center;
	  text-align : right;
	  font-style : italic;
	  padding : 0 10%;
	}
	
	.Intro{
	  width : 60%;
	  height : auto;
	  font-family : Genos;
	  text-align : center;
	  line-height : 1.5;
	  font-weight : 800;
	  padding : 0 10%;
	  
	  
	  .title{
		color : #E53935;
		font-family : inherit;
		line-height : inherit;
	  }
	}
  }
  
  .secondPage{
	height : auto;
	width : 100%;
	display : grid;
	grid-template-columns : 1fr 1fr;
	place-items : center;
	padding : 40px;
	
	img{
	  width : 100%;
	  height : 100%;
	  object-fit : contain;
	  object-position : center;
	}
	
	.text{
	  width : 90%;
	  padding : 20px;
	  display : grid;
	  place-items : center;
	  font-family : Genos;
	  
	  .toShow{
		width : 100%;
		display : flex;
		justify-content : space-between;
		text-align : center;
		margin-top : 20px;
		color : grey;
		
		.changeC{
		  color : #E53935;
		  font-weight : bold;
		}
	  }
	}
	
  }
  
  .firstPage{
	min-height : 100vh;
	width : 100%;
	background : img("AboutFirstbg") center/cover no-repeat;
	display : flex;
	padding : 100px;
	justify-content : center;
	align-items : center;
	gap : 20px;
	
	img{
	  object-fit : contain;
	  width : 30%;
	  object-position : center;
	  max-width : 385px;
	}
	
	.main{
	  display : flex;
	  flex-direction : column;
	  gap : 10px;
	}
	
	.Intro{
	  font-family : Genos;
	  text-align : end;
	  line-height : 1;
	  font-weight : bold;
	  margin-top : 20px;
	  
	  
	  
	  .title{
		color : grey;
		font-family : inherit;
		line-height : inherit;
	  }
	}
	
	h1{
	  font-family : Genos;
	  line-height : 1;
	  text-align : center;
	}
	
	.toEdit{
	  font-style : italic;
	  color : red;
	}
  }
}

@include mediaDevice(mobile){
  #About2MC{
	width : 100%;
	padding : 0;
	
	.journeyPage{
	  padding: 80px 20px;
	  
	  h1{
		margin-bottom: 50px;
		text-align: center;
	  }
	}
	
	.timeline{
	  max-width: 100%;
	  
	  &::before{
		left: 35px;
	  }
	}
	
	.progressLine{
	  left: 35px;
	}
	
	.timelineItem{
	  margin-bottom: 60px;
	  
	  justify-content: flex-start !important;
	}
	
	.year{
	  left: 35px;
	  
	  width: 70px;
	  height: 70px;
	  
	  font-size: 14px;
	  
	  z-index: 10;
	}
	
	.timelineCard{
	  width: calc(100% - 110px);
	  
	  margin-left: 90px !important;
	  margin-right: 0 !important;
	  
	  padding: 20px;
	  
	  h2{
		font-size: 12px;
		margin-bottom: 10px;
	  }
	  
	  p{
		font-size: 8px;
		line-height: 1.6;
	  }
	}
	
	.seventhPage, .sixthPage, .fifthPage, .fourthPage, .thirdPage, .secondPage, .firstPage{
	  padding : 70px 30px;
	}
	
	.seventhPage{
	  padding : 50px 0;
	  
	  .seventhCardCon{
		grid-template-columns : 1fr;
		grid-template-rows : repeat(6, 1fr);
	  }
	}
	
	.sixthPage{
	  grid-template-columns : auto;
	  grid-template-rows : auto auto;
	  padding: 50px 10px;
	  
	  .heroText{
		gap : 50px;
		.sixthPgCard{
		  width : auto;
		  max-width : 60%;
		  height : auto;
		  grid-template-columns : auto;
		  grid-template-rows : auto auto;
		  padding : 10px;
		  gap : 10px;
		  font-weight : normal;
		  span{
			padding : 10px;
			text-align : center;
		  }
		}
	  }
	}
	
	.fifthPage{
	  width: 100%;
	  min-height: auto;
	  
	  display: grid;
	  grid-template-columns: 1fr;
	  
	  gap: 40px;
	  
	  
	  place-items: center;
	  
	  .teamIntro{
		width: 100%;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 20px;
		grid-column: auto;
		
		h1{
		  text-underline-offset: 8px;
		}
		
		span{
		  width: 100%;
		  line-height: 1.6;
		  color: grey;
		  font-weight: 100;
		}
	  }
	  
	  .MemberCard{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		text-align: center;
		img{
		  width: 100%;
		  max-width: 300px;
		  height: auto;
		  border-radius: 10px;
		  object-fit: cover;
		}
		
		.heroText{
		  width: 100%;
		  display: flex;
		  flex-direction: column;
		  gap: 15px;
		  padding: 10px;
		  align-items: center;
		  
		  span{
			font-family: Genos;
			font-weight: 700;
			line-height: 1.5;
		  }
		}
	  }
	}
	
	.fourthPage{
	  justify-content : flex-start;
	  gap : 30px;
	  
	  .cardElesfP{
		padding : 50px;
		grid-template-columns : auto;
		grid-template-rows : repeat(4, 1fr);
		gap : 30px;
		
		.cardEle{
		  min-width :0;
		}
	  }
	}
	
	.thirdPage{
	  align-items : center;
	  gap : 20px;
	  background-position : left;
	  
	  .textLeft{
		padding : 0;
		width : 100%;
		height : 100%;
		background : rgba(255, 255, 255, 0.5);
		border-radius : 10px;
		text-align : center;
	  }
	  
	  .Intro{
		padding : 5px;
		width :  auto;
		background : rgba(255, 255, 255, 0.5);
		text-align : center;
		border-radius : 10px;
	  }
	}
	
	.secondPage{
	  grid-template-columns : 1fr;
	  grid-template-rows : auto auto;
	  
	  .text{
		min-height : auto;
		height : auto;
		width : 100%;
		padding : 0;
		grid-row : 2;
		text-align : center;
	  }
	  
	  img{
		height : auto;
		grid-row : 1;
	  }
	}
	
	.firstPage{
	  display : grid;
	  grid-template-columns : 1fr;
	  grid-template-rows : auto auto;
	  place-items : center;
	  width : 100%;
	  justify-items : center;
	  
	  img{
		width : 100%;
		height : auto;
		padding : 20px;
	  }
	  span{
		width : 100%;
		white-space : normal;
	  }
	  
	  .Intro{
		font-size : inherit;
	  }
	}
  }
}