html {
  overflow-x: scroll;
}

#AboutMC {
  width: 100%;
  height: 100vh;
}
#AboutMC .thirdPage {
  min-height: 100vh;
  width: 100%;
  background: url("/AboutThreebg.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 5%;
  gap: 50px;
}
#AboutMC .thirdPage .textLeft {
  width: 60%;
  height: auto;
  font-family: SyneMono;
  font-size: clamp(0px, 2vw, 35px);
  line-height: 2;
  display: grid;
  place-items: center;
  text-align: right;
  font-style: italic;
  padding: 0 10%;
}
#AboutMC .thirdPage .Intro {
  width: 60%;
  height: auto;
  font-family: Genos;
  text-align: center;
  line-height: 1.5;
  font-weight: 800;
  font-size: clamp(0px, 2vw, 35px);
  padding: 0 10%;
}
#AboutMC .thirdPage .Intro .title {
  color: #E53935;
  font-family: inherit;
  line-height: inherit;
}
#AboutMC .secondPage {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 40px;
}
#AboutMC .secondPage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
#AboutMC .secondPage .text {
  width: 90%;
  min-height: 60%;
  padding: 20px;
  display: grid;
  font-family: Genos;
  font-size: clamp(0px, 2.5vh, 30px);
}
#AboutMC .secondPage .text .toShow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
  color: grey;
}
#AboutMC .secondPage .text .toShow .changeC {
  font-size: 4vh;
  color: #E53935;
  font-weight: bold;
}
#AboutMC .firstPage {
  min-height: 100vh;
  width: 100%;
  background: url("/AboutFirstbg.png") center/cover no-repeat;
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
}
#AboutMC .firstPage img {
  border: 1px white solid;
  object-fit: contain;
  width: 30%;
  object-position: center;
}
#AboutMC .firstPage .main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#AboutMC .firstPage .Intro {
  font-family: Genos;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  font-size: clamp(0px, 2vh, 20px);
}
#AboutMC .firstPage .Intro .title {
  color: grey;
  font-family: inherit;
  line-height: inherit;
}
#AboutMC .firstPage span {
  font-family: SyneMono;
  font-size: clamp(0px, 3vh, 40px);
  line-height: 2;
  text-align: center;
}
#AboutMC .firstPage .toEdit {
  font-style: italic;
  color: red;
  font-size: inherit;
}

@media (max-width: 1024px) {
  #AboutMC {
    width: 100%;
    padding: 0;
  }
  #AboutMC .thirdPage {
    align-items: center;
    gap: 20px;
    padding: 7px;
  }
  #AboutMC .thirdPage .textLeft {
    padding: 0;
    width: 100%;
    font-size: clamp(0px, 3vh, 30px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
  }
  #AboutMC .thirdPage .Intro {
    padding: 5px;
    width: auto;
    font-size: clamp(0px, 3vh, 30px);
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 10px;
  }
  #AboutMC .secondPage {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
  #AboutMC .secondPage .text {
    min-height: 0;
    width: 100%;
    grid-row: 2;
  }
  #AboutMC .secondPage img {
    grid-row: 1;
  }
  #AboutMC .firstPage {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 100%;
    justify-items: center;
  }
  #AboutMC .firstPage img {
    width: 60%;
  }
  #AboutMC .firstPage span {
    font-size: clamp(0px, 5vw, 22px);
    width: 100%;
    white-space: normal;
  }
  #AboutMC .firstPage .Intro {
    font-size: inherit;
  }
}

/*# sourceMappingURL=About.css.map */
