@use "../../mixins" as *;

$redCol : #E53935;

//Red Line
.lineRed{
  display : block;
  width : 50px;
  height : 2px;
  background : $redCol;
  align-self : flex-start;
}

//icon
.cardIcon{
  background: #FEF2F2;
  padding : 10px;
  border-radius : 10px;
  color : $redCol;
}

.cardIc{
  background: $redCol;
  padding : 10px;
  border-radius : 50%;
  color : white;
}

//maxWidth
.conSecFP, .secondPage, .conSecTP, .conSecFoP, .fifthPage, .sixthPage, .conSecSeP{
  max-width : 1300px;
}

//grid;
 .firstPage, .section2, .secondPage, .conSecFoP, .fourthPage, .cardEle, .conSecFP, .memC, .sixthPage, .seventhPage{
  display : grid;
  place-items : center;
}

//padding
.firstPage, .thirdPage, .fourthPage, .fifthPage, .sixthPage, .seventhPage{
  padding : 100px 0;
}

//innerPadding
.innerPadding{
  padding-left : 50px;
  padding-right : 50px;
}

#About2MC, .firstPage, .secondPage, .thirdPage, .fourthPage, .journeyPage, .fifthPage{
  min-height : 100vh;
  width : 100%;
}

#About2MC{
  display : grid;
  justify-items  : center;
  
  .firstPage{
    background : img("aboutBack") center/cover no-repeat;
    .conSecFP{
      padding : 0 50px;
      grid-template-columns : repeat(3, auto);
      img{
      }
      
      .section2{
        gap : 20px;
        max-width : 300px;
        
        .redText{
          color: $redCol;
        }
      }
      
      .section3{
        img{
          width : 300px;
        }
      }
    }
  }
  
  .secondPage{
    grid-template-columns : repeat(2, 1fr);
    .text{
      max-width : 500px;
      h1, span{
        text-align : left;
      }
      .toShow{
        display : grid;
        width : 100%;
        grid-template-columns : repeat(2, 1fr);
        justify-content : stretch;
        align-items : stretch;
        .changeC{
          color: $redCol;
          text-align : left;
        }
      }
    }
  }
  
  .thirdPage{
    background: img("AboutThreebg") center/contain no-repeat;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : flex-end;
    
    .conSecTP{
      width : 50%;
      display : flex;
      flex-direction : column;
      justify-content : center;
      align-items : flex-end;
      gap : 20px;
      max-width : 800px;
      
      h2{
        span{
          color : $redCol;
        }
      }

    }
  }
  .journeyPage{
    width: 100%;
    padding: 120px 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
      font-family: Genos;
      margin-bottom: 80px;
    }
  }
  
  .timeline{
    position: relative;
    
    width: 100%;
    max-width: 1200px;
    
    &::before{
      content: "";
      
      position: absolute;
      
      left: 50%;
      top: 0;
      bottom: 0;
      
      width: 2px;
      
      background: #e5e5e5;
      
      transform: translateX(-50%);
    }
  }
  
  .progressLine{
    position: absolute;
    
    left: 50%;
    top: 0;
    
    width: 2px;
    height: 100%;
    
    background: #E53935;
    
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;
  }
  
  .timelineItem{
    position: relative;
    
    width: 100%;
    
    display: flex;
    
    margin-bottom: 40px;
    
    &.left{
      justify-content: flex-start;
      
      .timelineCard{
        margin-right: calc(50% + 80px);
        &.rightHead{
          text-align : right;
        }
        @include mediaDevice(mobile){
          &.rightHead{text-align : left;}
        }
      }
    }
    
    &.right{
      justify-content: flex-end;
      
      .timelineCard{
        margin-left: calc(50% + 80px);
        
      }
    }
  }
  
  .year{
    position: absolute;
    
    left: 50%;
    top: 30px;
    
    transform: translateX(-50%);
    
    width: 90px;
    height: 90px;
    
    border-radius: 50%;
    
    background: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    font-family: Genos;
    
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    
    z-index: 3;
    
    .yt{
      font-size : 13px;
      color : #E53935;
      font-weight : 1000;
      -webkit-text-stroke: 0.5px currentColor;
    }
    
    .yy{
      font-size : 25px;
      -webkit-text-stroke: 0.5px currentColor;
    }
  }
  
  .dot{
    display: none;
  }
  
  .timelineCard{
    width: 500px;
    
    background: white;
    
    border-radius: 20px;
    
    padding: 40px;
    
    border : 1px solid rgba(0, 0, 0, 0.2);
    transition : all 0.3s ease, box-shadow 0.2s ease;
    transform : translateY(0px);
    
    &:hover{
      h2{
        color : red;
      }
      box-shadow: 0 10px 25px rgba(0,0,0,.08);
    }
    
    h2{
      font-family: SyneMono;
      margin-bottom: 15px;
    }
    
    p{
      font-family: Genos;
      font-size: 18px;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.7);
      font-weight : 600;
    }
  }
  
  .fourthPage{
    background : img("flexBack") center/cover no-repeat;
    
    .conSecFoP{
      gap : 100px;
      .cardElesfP{
        display : grid;
        grid-template-columns : repeat(4, 1fr);
        gap : 20px;
      }
    }
    .cardEle{
      grid-template-rows : repeat(3, 1fr);
      max-width : 250px;
      background: white;
      border-radius : 20px;
      padding : 20px;
      

    }
  }
  
  .fifthPage{
    display : flex;
    flex-direction: row;
    gap : 100px;
    
    .teamIntro{
      display : flex;
      flex-direction : column;
      gap : 20px;
      

      h1, span{
        text-align : left;
      }
    }
    
    .teamMembers{
      display : grid;
      grid-template-rows: repeat(2, auto);
      gap : 100px;
      
      .memC{
        display : flex;
        flex-direction : row;
        gap : 50px;
        
        .heroImg{
          background: #F8F9FA;
          height : 100%;
          width : 40%;
          padding : 30px;
          img{
            object-fit : contain;
            width : 100%;
            height : 100%;
            object-position : center;
          }
        }
        
        .heroText{
          width : 40%;
          height : 100%;
          display : flex;
          flex-direction : column;
          gap : 20px;
          justify-content : space-between;
          
          h1{
            white-space : nowrap;
          }
          
          h1, h2, span{
            text-align : left;
          }
          
          h2{
            color : $redCol;
          }
        }
      }
    }
  }
  
  .sixthPage{
    min-height : 100vh;
    grid-template-columns : repeat(2,1fr);
    gap : 50px;
    
    .heroImg{
      display : flex;
      flex-direction : column;
      gap : 20px;
      
      h1, span{
        text-align : left;
      }
      
      img{
        padding : 20px;
      }
    }
    
    .heroText{
      display : grid;
      grid-template-rows : repeat(3, 1fr);
      height : 100%;
      gap : 10px;
      
      .sixthPgCard{
        background: white;
        display : grid;
        place-items : center;
        grid-template-columns : repeat(2, auto);
        gap : 30px;
        min-height : 180px;
        border : 1px solid #F1F5F9;
        border-radius : 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        
        span{
          text-align : left;
        }
      }
    }
  }
  

  
  
  
  
  
}

@include mediaDevice(mobile){

#About2MC{
  .conSecFP{

  }
  
  .firstPage{
    .conSecFP{
      grid-template-columns : 1fr;
      gap : 100px;
      padding : 100px 10px;
      grid-template-rows : repeat(3, auto);
    }
  }
  
  .secondPage{
    grid-template-columns : 1fr;
    grid-template-rows : repeat(2, auto);
    gap : 100px;
    padding : 100px 10px;
  }
  
  .thirdPage{
    justify-content : center;
    align-items : center;
    background-size : cover;
    padding : 100px 10px;
    .conSecTP{
      width : 100%;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter : blur(10px);
      border-radius : 10px;
      padding : 50px 50px;
      span, h2, h1{
        text-align : right;
        width : 100%;
      }
    }
  }
  
  .journeyPage{
    padding: 80px 20px;
    
    h1{
      margin-bottom: 50px;
    }
  }
  
  .timeline{
    max-width: 100%;
    
    &::before{
      left: 35px;
    }
  }
  
  .progressLine{
    left: 35px;
  }
  
  .timelineItem{
    margin-bottom: 60px;
    
    justify-content: flex-start !important;
  }
  
  .year{
    left: 35px;
    
    width: 70px;
    height: 70px;
    
    font-size: 14px;
    
    z-index: 10;
  }
  
  .timelineCard{
    width: calc(100% - 110px);
    
    margin-left: 90px !important;
    margin-right: 0 !important;
    
    padding: 20px;
    text-align : left;
    
    .rightHead{
      text-align : left!important;
      h2{
        text-align : left;
      }
    }
    
    h2{
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    p{
      font-size: 13px;
      line-height: 1.6;
    }
  }
  
  .fourthPage{
    .conSecFoP{
      gap : 10px;
      .cardElesfP{
        grid-template-columns : 1fr;
        grid-template-rows : repeat(2, auto);
        gap : 50px;
        padding : 100px 10px;
        
        .cardEle{
          min-height : 300px;
        }
      }
    }
  }
  
  .fifthPage{
    flex-direction: column;
    gap: 50px;
    padding: 100px 10px;
    
    .teamMembers{
      .memC{
        flex-direction : column;
        align-items : flex-end;
        .heroText{
          width : 100%;
          h1{
            white-space : normal;
          }
        }
        
        .heroImg{
          padding : 0;
          height : fit-content;
        }
      }
    }
  }
  
  .sixthPage{
    grid-template-columns : 1fr;
    grid-template-rows : repeat(2, auto);
    
    .heroText{
      .sixthPgCard{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        
        gap: 15px;
        
        padding: 20px;
      }
    }
  }
  
}
}