@use "../../mixins" as *;
$colorRed : #ef3b3b;

//grid
.heroContainer, .philosophyContainer, .approachSection, .approachRight{
  display : grid;
  grid-template-columns : repeat(2, auto);
  place-items : center;
  gap : 40px;
}

//flex-col
.heroText, .philosophyText, .approachLeft, .approachCard{
  display : flex;
  flex-direction : column;
  gap : 40px;
  width : 80%;
}

//text-align left
.heroText, .philosophyText, .approachLeft, .approachRight{
  h1, h2, h3, span{
    width : 100%;
    text-align : left;
  }
}

//padding
.heroContainer, .philosophyContainer, .approachSection, .ctaSection{
  padding : 100px 100px;
  margin-top : 50px;
  margin-bottom : 50px;
}

//max-width
.heroContainer, .philosophyContainer, .approachSection{
  max-width : 1300px;
}

#bespokePage{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  
  .approachSection{
    background: #FFFFFE;
    min-height : 100vh;
    .approachLeft{
      height : 100%;
      align-items : center;
      justify-content : center;
    }
    
    .approachRight{
      gap : 100px;
      .approachCard{
        width : 100%;
        background: white;
        padding : 20px;
        border-radius : 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        
        h2{
          border-left : 4px solid $colorRed;
          padding-left : 20px;
        }
      }
    }
  }
  
  .ctaSection{
    display : grid;
    grid-template-columns : repeat(3, 1fr);
    place-items : center;
    width : 100%;
    
    .ctaImage{
      max-width : 300px;
    }
    
    .ctaContent{
      display : flex;
      flex-direction : column;
      gap : 40px;
      justify-content : center;
      align-items : flex-start;
      button{
        width : fit-content;
      }
      
      h2{
        text-align : left;
      }
    }
    
    .ctaPoints{
      display : flex;
      flex-direction : column;
      
      .point{
        display : flex;
        justify-content : flex-start;
        align-items : center;
        gap : 10px;
        span{
          text-align : left;
        }
        
        .cardII{
          color : $colorRed;
        }
      }
    }
  }
  
  .bottomBar{
    margin-top : 20px;
    background: #333333;
    width : 100%;
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    gap : 20px;
    padding : 20px;
    
    .btns{
      display : flex;
      gap : 10px;
      align-items : center;
      place-items : center;
    }
    
    h2{
      color : white;
    }
  }
}

@include mediaDevice(mobile){
  .heroContainer, .philosophyContainer, .approachSection, .approachRight{
    grid-template-columns : 1fr;
    grid-template-rows : repeat(2, auto);
    gap : 40px;
  }
  
  .heroContainer, .philosophyContainer, .approachSection, .ctaSection{
    padding : 10px;
  }
  
  #bespokePage{
    .ctaSection{
      background-size : contain;
      grid-template-columns : 1fr;
      grid-template-rows : repeat(3, auto);
      gap : 50px;
      padding : 10px;
    }
    
    .bottomBar{
      flex-direction : column;
    }
    
  }
}