
@mixin InitialSetup{
  *, *::before, *::after{
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	user-select : none;
	-webkit-tap-highlight-color: transparent;
  }
  
  img, picture{
	max-width : 100%;
	display : block;
  }
  
  /* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / old Edge */
html {
  -ms-overflow-style: none;
}
  
  button, input, textarea, select{
	font : inherit;
	line-height : 1.5;
  }
}

html{overflow-x : scroll;}