
@mixin CustomFont($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src:
      url("#{$path}") format("woff2"),
      url("#{$path}") format("woff"),
      url("#{$path}") format("truetype"),
      url("#{$path}") format("opentype");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}