@mixin CustomFont($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url("#{$path}") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}