@use "../../mixins" as *;
$colorRed : #ef3b3b;
$darkBlue : #17233d;

//grid 2cols
.MFone, .MFtwoCards, .MFthree, .MFfour{
  display : grid;
  grid-template-columns : repeat(2, auto);
  
  gap : 20px;
}

//flex-cols
.innerMFtwo, .itemDesc, .leftColl, .rightColl, .heroText, .heroImg, .AssistDataCardCon, .stepContent{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  gap : 40px;
  
}

//flex-rows
.thirdCardEles, .ADC{
  display : flex;
  flex-direction : row;
  justify-content : flex-start;
  align-items : flex-start;
  gap : 20px;
}

//center text align
.heroText, .MFtwoCards{
  h1, h2, h3{
	text-align : left;
	width : 100%;
  }
  
  span{
	text-align : left;
  }
}

//max-width
.MFone, .innerMFtwo, .MFthree, .MFfour{
  max-width : 1300px;
}

//padding
.MFone, .innerMFtwo, .MFthree, .MFfour{
  padding : 100px 50px;
}

//innerPadding
.heroImg, .heroText, .MFtwoCards, .heroImg{
  padding : 20px;
}

#MFsMC{
  display : grid;
  place-items : center;
  
  .MFone{
    place-items : center;
  }
  
  .MFtwo{
    min-height : 100vh;
    display : grid;
    place-items : center;
    width : 100%;
    background: img("flexBack") center/cover no-repeat;
    
    .MFtwoCards{
      max-width :300px;
      background: $darkBlue;
      border-radius : 20px;
      .cardIconMF{
        color : $colorRed;
      }
      .itemDesc{
        gap : 10px;
        h3{
          color : white;
        }
        span{
          color : #CBD5E1;
        }
      }
      
      &.card1, &.card3{
        align-self : flex-end;
      }
    }
    
    .twoMC{
      display : grid;
      grid-template-columns : repeat(3, 1fr);
      place-items : center;
      gap : 20px;
      
      .leftColl, .rightColl{
        min-width : 400px;
        width : 100%;
        height : 100%;
      }
    }
    
  }
  
  .MFthree{
    place-items : center;
    .heroText{
      .thirdCardEles{
        width : 100%;
        span{
          width : 100%;
        }
      }
    }
  }
  
  .MFfour{
    place-items : center;
    .heroText{
      .AssistDataCardCon{
        position : relative;
        &::before{
          content: "";
          position: absolute;
          z-index : 1;
          
          left: 19px;      // center of 40px circle
          top: 20px;       // center of first circle
          bottom: 20px;    // center of last circle
          
          width: 2px;
          background: $darkBlue;
        }
        
        .ADC{
          &:hover{
            .stepCircle{
              background: $colorRed;
              border : none;
              color : white;
            }
            
            .stepContent{
              h3{
                color : $colorRed;
              }
            }
          }
        }
        .stepCircle{
          transition : all 0.3s ease;
          background: white;
          position : relative;
          z-index : 2;
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
          
          flex-shrink: 0;
          
          border-radius: 50%;
          border: 2px solid grey;
          
          display: grid;
          place-items : center !important;
          span{
            text-align : center !important;
          }
        }
        .stepContent{
          transition : all 0.3s ease;
          gap : 10px;
        }
      }
    }
  }
}

@include mediaDevice(mobile){
  .MFone, .MFtwoCards, .MFthree, .MFfour{
    grid-template-columns : 1fr;
    grid-template-rows : repeat(2,auto);
  }
  .heroImg, .heroText, .MFtwoCards, .heroImg{
    padding : 5px;
  }
  
  .MFone, .innerMFtwo, .MFthree, .MFfour{
    padding : 10px;
    margin-top : 50px;
    margin-bottom : 50px;
  }
  
  #MFsMC{
    .MFtwo{
        .twoMC{
          grid-template-columns : 1fr;
          grid-template-rows : repeat(3, auto);
          .leftColl, .rightColl{
            min-width : auto;}
        }
    }
  }
}