html {
  overflow-x: scroll;
}

#MFsMC {
  min-height: 100vh;
  width: 100%;
}
#MFsMC .endingStatement {
  min-height: 30vh;
  background-image: url("https://dreamladder-assets.s3.ap-south-1.amazonaws.com/public/flexBack.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#MFsMC .endingStatement h1 {
  font-family: SyneMono;
  font-size: clamp(0px, 5vh, 50px);
}
#MFsMC .endingStatement h2 {
  font-family: Genos;
  max-width: 50%;
  text-align: center;
  font-size: clamp(0px, 2vh, 20px);
}
#MFsMC .MFfour {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 80px 80px;
  place-items: center;
}
#MFsMC .MFfour .heroText {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
#MFsMC .MFfour .heroText h1 {
  text-decoration: underline;
}
#MFsMC .MFfour .heroText .AssistDataCardCon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#MFsMC .MFfour .heroText .AssistDataCardCon .ADC {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 70%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
#MFsMC .MFfour .heroText .AssistDataCardCon .ADC h1 {
  font-size: 4vh;
  text-decoration: none;
}
#MFsMC .MFfour .heroText .AssistDataCardCon .ADC span span {
  font-family: Genos;
  color: grey;
  font-size: 2vh;
}
#MFsMC .MFthree {
  width: 100%;
  background: white;
  padding: 80px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
#MFsMC .MFthree .heroImg {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#MFsMC .MFthree .heroImg h1 {
  font-style: Italic;
  color: grey;
  padding-left: 20px;
  border-left: 2px #E53935 solid;
}
#MFsMC .MFthree .heroImg h3 {
  font-style: italic;
}
#MFsMC .MFthree .heroText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Genos;
  justify-content: center;
  max-width: 70%;
}
#MFsMC .MFthree .heroText .thirdCardEles {
  display: flex;
  gap: 20px;
}
#MFsMC .MFthree .heroText .thirdCardEles .threeIcon {
  aspect-ratio: 1;
  color: red;
  height: 20px;
}
#MFsMC .MFtwo {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://dreamladder-assets.s3.ap-south-1.amazonaws.com/public/flexBack.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  padding: 80px 30px;
  gap: 40px;
}
#MFsMC .MFtwo .titleDesc {
  color: grey;
  max-width: 70%;
}
#MFsMC .MFtwo .twoMC {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
#MFsMC .MFtwo .twoMC img {
  padding: 50px;
}
#MFsMC .MFtwo .twoMC .heroText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
#MFsMC .MFtwo .twoMC .heroText .MFtwoCards {
  background: #182338;
  border-radius: 10px;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
#MFsMC .MFtwo .twoMC .heroText .MFtwoCards h1 {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  font-weight: 1200;
}
#MFsMC .MFtwo .twoMC .heroText .MFtwoCards h1 .cardIconMF {
  color: #E53935;
}
#MFsMC .MFtwo .twoMC .heroText .MFtwoCards #CardsMean {
  color: white;
  max-width: 100%;
  font-weight: normal;
}
#MFsMC .headTit {
  width: 100%;
  height: 20vh;
  text-align: center;
  display: grid;
  place-items: center;
  background-image: url("https://dreamladder-assets.s3.ap-south-1.amazonaws.com/public/HP56.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#MFsMC .headTit h1 {
  font-family: Genos;
}
#MFsMC .MFone {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
}
#MFsMC .MFone img {
  grid-column: 2;
  grid-row: 1;
  padding: 50px;
  width: 80%;
  object-fit: contain;
  object-position: center;
}
#MFsMC .MFone .heroText {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
#MFsMC .MFone .heroText .descEles, #MFsMC .MFone .heroText .quoteEle {
  max-width: 70%;
  padding-left: 30px;
}
#MFsMC .MFone .heroText .quoteEle {
  border-left: 3px #E53935 solid;
  font-style: italic;
  color: grey;
}

@media (max-width: 1024px) {
  #MFsMC .endingStatement span {
    max-width: 80%;
  }
  #MFsMC .MFfour {
    padding: 40px 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px;
  }
  #MFsMC .MFfour img {
    grid-row: 1;
    grid-column: 1;
    padding: 10px;
  }
  #MFsMC .MFfour .heroText {
    grid-row: 2;
    grid-column: 1;
    max-width: 100%;
  }
  #MFsMC .MFfour .heroText .AssistDataCardCon .ADC {
    max-width: 100%;
  }
  #MFsMC .MFthree {
    padding: 40px 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  #MFsMC .MFthree .heroImg {
    padding: 40px 10px;
  }
  #MFsMC .MFthree .heroImg h1 {
    max-width: 100%;
    padding-left: 5px;
  }
  #MFsMC .MFtwo {
    padding: 0;
  }
  #MFsMC .MFtwo .titleDesc, #MFsMC .MFtwo .titleHead {
    padding: 0 40px;
  }
  #MFsMC .MFtwo span {
    max-width: 100%;
  }
  #MFsMC .MFtwo .twoMC {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  #MFsMC .MFone {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 70px;
    padding: 50px 0;
  }
  #MFsMC .MFone img {
    grid-column: 1;
    grid-row: 1;
    padding: 5px;
  }
  #MFsMC .MFone .heroText {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
  }
  #MFsMC .MFone .heroText span {
    padding-left: 10px;
  }
}

/*# sourceMappingURL=MFs.css.map */
