@use "../../mixins" as *;
$colorRed : #ef3b3b;

//grid 2cols
.LEPone{
  display : grid;
  grid-template-columns : repeat(2, auto);
  place-items : center;
  gap : 20px;
}

//flex-cols
.pointsCont, .left, .right, .LEPtwo, .textCont, .quoteBox{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : flex-start;
  gap : 20px;
  
}

//flex-rows
.e{
  display : flex;
  flex-direction : row;
  justify-content : center;
  align-items :center;
  gap : 40px;
}

//center text align
.LEPone, .pointsCont, .textCont{
  h1, h2, h3{
    text-align : left;
    width : 100%;
  }
  
  span{
    text-align : left;
  }
}

//max-width
.LEPone, .LEPtwo{
  max-width : 1300px;
}

//padding
.LEPone, .LEPtwo{
  padding : 100px 50px;
}

//innerPadding
.left, .right, .expertiseRow{
  padding : 40px;
}

#LegacyEstatePlanningMC{
  width : 100vw;
  overflow-x : clip;
  display : grid;
  place-items : center;
  
  .LEPone{
    .left{
      align-items : flex-start;
      .pointsCont{
        gap : 20px;
        align-items : flex-start;
        .pointEle{
          display : grid;
          place-items : start;
          border-bottom : 1px solid #F1F5F9;
          width : 100%;
        }
      }
    }
  }
  
  .LEPtwo{
    .expertiseRow{
      display : grid;
      grid-template-columns : repeat(2, auto);
      gap : 50px;
      background: #F9FAFC;
      
      &.reverse{
        background: transparent;
        .imgCont{
          grid-row : 1;
          grid-column : 2;
        }
        
        .textCont{
          grid-row : 1;
          grid-column : 1;
        }
      }
      
      .imgCont{
        display : grid;
        place-items : center;
      }
      
      .textCont{
        .quoteBox{
          gap : 5px;
          background: white;
          margin-top : 20px;
          padding : 20px;
          border-left : 3px solid $colorRed;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

@include mediaDevice(mobile){
  .LEPone{
    grid-template-columns : 1fr;
    grid-template-rows : repeat(2, auto);
  }
  
  .LEPone, .LEPtwo{
    padding : 10px;
    margin-top : 50px;
    margin-bottom : 50px;
  }
  
  .expertiseRow{
    margin-top : 50px;
    margin-bottom : 50px;
  }
  
  .left, .right, .expertiseRow{
    padding : 10px;
  }
  
  #LegacyEstatePlanningMC{
    .LEPtwo{
      .expertiseRow{
        grid-template-columns : 1fr;
        grid-template-rows : repeat(2, auto);
        
        .imgCont{
          grid-column : 1;
          grid-row : 2;
        }
        
        .textCont{
          grid-column : 1;
          grid-row : 1;
        }
        
        &.reverse{
          .imgCont{
            grid-row : 2;
            grid-column : 1;
          }
          
          .textCont{
            grid-row : 1;
            grid-column : 1;
          }
        }
      }
    }
  }
}