@use "./mixins" as  *;
@include InitialSetup;
$colorRed : #ef3b3b;

@include CustomFont("Genos", "/Fonts/Genos.woff");
@include CustomFont("SyneMono", "/Fonts/SyneMono.woff");

#AppMC{
  @include flex-center;
  position : relative;
  z-index : 0
}

#breakMob{
  display : none;
}

body{
  height : 100vh;
  overflow : visible;
  background : white;
  overflow-x : clip;
  
  .cardIcon{
    padding : 7px !important;
    flex-shrink : 0;
  }
  
  .line{
    width : 100px;
    height : 3px;
    background: $colorRed;
    align-self : flex-start;
  }
  
  span{
    width : 100%;
    &.tcen{
      text-align : center;
    }
    &.tlef{
      text-align : left;
    }
    &.trig{
      text-align : right;
    }
    &.ju{
      display : block;
      text-align : justify!important;
    }
    font-size : clamp(0px, 3vh, 30px);
    
    -webkit-text-stroke:0.5px currentColor;
    letter-spacing : 1px;
    line-height : 1.4;
    font-weight : normal;
    
    &.conTact{
      font-size : clamp(0px, 2.5vh, 25px) !important;
      text-align : center;
      font-weight : normal;
      color : black;
      -webkit-text-stroke: 0.5px currentColor;
    }
    
    &.small{
      font-size : clamp(0px, 2vh, 20px);
      -webkit-text-stroke: 0 currentColor;
    }
    
    &.emsmall{
      font-size : clamp(0px, 1.8vh, 19px);
    }
    
    &.esmall{
      font-size : clamp(0px, 1.5vh, 18px);
    }
    &.Gen{
      font-family : Genos;
    }
    
    &.Syn{
      font-family : SyneMono;
    }
    &.quote{
      font-family : Genos;
      font-style : italic;
      border-left : 4px solid #E53A36;
      padding-left : 20px;
      color : #64748B;
      
    }
    
    &.italic{
      font-style : italic;
    }
    
    &.light{
      color : #475569;
    }
    
    &.dark{
      color : black;
    }
  }
  
  h1{
    &.tcen{
      text-align : center;
    }
    &.tlef{
      text-align : left;
    }
    &.trig{
      text-align : right;
    }
    &.ju{
      display : block;
      text-align : justify!important;
    }
    font-weight : normal;
    font-size : clamp(0px, 7vh, 70px) !important;
    color : black;
    
    &.small{
      font-size : clamp(0px, 5vh, 60px) !important;
    }
    
    &.exsmall{
      font-size : clamp(0px, 4.2vh, 40px)!important;
    }
    
    &.Gen{
      font-family : Genos;
    }
    &.Syn{
      font-family : SyneMono;
    }
    &.bold{
      -webkit-text-stroke: 0.5px currentColor;
      font-weight : bold;
    }
    &.light{
      color : #475569;
    }
    
    &.dark{
      color : black;
    }
  }
  
  h2{
    &.tcen{
      text-align : center;
    }
    &.tlef{
      text-align : left;
    }
    &.trig{
      text-align : right;
    }
    
    &.ju{
      display : block;
      text-align : justify!important;
    }
    font-weight : normal;
    color : black;
    font-size : clamp(0px, 3.5vh, 35px) !important;
    
    &.small{
      font-size : clamp(0px, 2.5vh, 25px) !important;
    }
    
    &.Gen{
      font-family : Genos;
      font-size : clamp(0px, 4vh, 40px);
    }
    &.Syn{
      font-family : SyneMono;
    }
    &.bold{
      -webkit-text-stroke: 0.5px currentColor;
      
    }
    &.light{
      color : #475569;
    }
    
    &.dark{
      color : black;
    }
  }
  
  h3{
    &.tcen{
      text-align : center;
    }
    &.tlef{
      text-align : left;
    }
    &.trig{
      text-align : right;
    }
    &.ju{
      display : block;
      text-align : justify!important;
    }
    font-weight : normal;
    
    color : black;
    font-size : clamp(0px, 3vh, 20px) !important;
    
    &.Gen{
      font-family : Genos;
    }
    &.Syn{
      font-family : SyneMono;
    }
    &.bold{
      -webkit-text-stroke: 0.5px currentColor;
      font-weight : bold;
    }
    &.light{
      color : #475569;
    }
    
    &.dark{
      color : black;
    }
  }
  
  .navBtn {
    background: transparent;
    border: none;
    
    font-family: Genos;
    font-size: 20px;
    font-weight: bold;
    
    color: black;
    
    transition: color 0.15s ease;
    
    cursor: pointer;
    
    &.s {
      padding: 4px 12px;
      background: #dc2626;
      border: 2px solid #dc2626;
      
      color: white;
      border-radius: 9999px;
      
      &:hover {
        background: #434242;
        border-color: #434242;
      }
    }
  }
  

  
  #AboutMC, #ReturnSliderMC, #CalculatorMC, #InsightsMC, #PowMC, #FooterMC{
    padding : 60px 60px;
  }
  
  .endingStatement{
    width : 100%;
    min-height : 30vh;
    background-image: img("endStat");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    gap : 20px;
    
    h1{
      font-family : SyneMono !important;
      font-size : clamp(0px, 5vh, 30px) !important;
      color : #494641;
    }
    
    h2{
      font-family : Genos !important;
      max-width : 50%;
      text-align : center;
      font-size : clamp(0px, 2vh, 25px)!important;
      color : #475569;
    }
  }
  
  .titleHeadZ{
    position : relative;
    height : 250px;
    width: 100%;
    background-image: img("HP56");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content : space-between;
    flex-direction : column;
    text-align: center;
    
    &::after{
      content: "";
      
      position: absolute;
      left: 0;
      bottom: 0;
      
      width: 100%;
      height: 50px;
      background: linear-gradient(
              to bottom,
              transparent,
              rgba(255,255,255,0.3),
              rgba(255,255,255,0.8),
              white
      );
      pointer-events : none;
    }
    
    .titleZ{
      font-family: SyneMono !important;
      font-size : 28px;
      height : 100%;
      display : grid;
      place-items : center;
    }
  }
}

@include mediaDevice(mobile){
  #breakMob{
    display : block;
  }
  
  #AboutMC, #NavBar, #ReturnSliderMC, #CalculatorMC, #InsightsMC, #PowMC, #FooterMC{
    margin-bottom: 50px;
  }
  
  #MFsMC, #PMSAIFMC, #BondsMC, #StructuredProductsMC, #LegacyEstatePlanningMC, #InsuranceMC, #bespokePage, #BlogsMC, #MediaMC, .calc-root, .connectPage, #DisclaimerMC, #DisclosureMC, #WwsMC{
    .titleHeadZ{
      height : 150px;
      .titleZ{
        font-size :20px;
        align-items : end;
        padding-bottom : 30px;
        white-space : wrap;
      }
    }
    
    .endingStatement{
      padding : 0;
      width : 100%;
      text-align : center;
      
      span{
        width : 100%;
      }
    }
  }
  
}