@use "./mixins" as  *;

@include InitialSetup;

@include CustomFont("Genos", "/Fonts/Genos.woff");
@include CustomFont("SyneMono", "/Fonts/SyneMono.woff");

#AppMC{
  @include flex-center;
  position : relative;
  z-index : 0
}

body{
  height : 100vh;
  overflow : visible;
  background : white;
  
  h1{
    font-size : clamp(0px, 4vh, 50px);
  }
  
  h2{
    font-size : clamp(0px, 3vh, 40px);
  }
  h3{
    font-size : clamp(15px, 2.5vh, 40px);
  }
  #AboutMC, #ReturnSliderMC, #CalculatorMC, #InsightsMC, #PowMC, #FooterMC{
    padding : 60px 60px;
  }
}

@include mediaDevice(mobile){
  #AboutMC, #NavBar, #ReturnSliderMC, #CalculatorMC, #InsightsMC, #PowMC, #FooterMC{
    margin-bottom: 50px;
  }
}